h3 Mot de passe oublié?
p
  | Nous avons reçu cette demande pour reinitialiser le mot de passe de (#{username}).
p
  | Pour reinitialiser votre mot de passe cliquer sur le lien ci-dessous ou copier le dans le navigateur.
p
  a(href='#{resetLink}') #{resetLink}
p
  | Merci,
  br
  | #{projectName}
