| Mot de passe oublié?
= '\n'
= '\n'
| Nous avons reçu cette demande pour reinitialiser le mot de passe de  (#{username}).
= '\n'
= '\n'
| Pour reinitialiser votre mot de passe cliquer sur le lien ci-dessous ou copier le dans le navigateur :
| #{resetLink}
= '\n'
= '\n'
| Merci,
| #{projectName}
